<html>
<head><title>Cam</title>
<link rel="stylesheet" type="text/css" href="/var/www/html/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div ng-app="myapp" ng-controller="mainController" class="container">
<div class="row">

    <div class=" col-sm-4 alert alert-error ng-scope" ng-show="webcamError" style="">
	<span>Webcam could not be started. Did you give access to it?</span>
	</div>

   <div class="col-sm-4">
    <webcam channel="channel" 
        on-streaming="onSuccess()" 
        on-error="onError(err)" 
        on-stream="onStream(stream)"></webcam>
        <br>
    <button ng-click="makeSnapshot()" class="btn btn-success" >Take Picture</button>
    <a id="download" href="{{snapshotData}}" class="btn btn-success" download="v.png">Download </a>
   </div>
     <div class="col-sm-4">
    <canvas id="snapshot" class="well pull-right" width="300" height="300"></canvas>
    </div>
     </div>
</div>


<script type="text/javascript" src="/var/www/html/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/var/www/html/bower_components/webcam/dist/webcam.min.js"></script>
<script type="text/javascript" src="main.js"></script>
<script type="text/javascript" src="/var/www/html/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/var/www/html/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="canvas.js"></script>
</html>
